@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*, body {box-sizing: border-box;}
*, a {text-decoration: none;transition: all .3s;}
a, button, input[type="submit"] {cursor: pointer;}
h1, h2, h3, h4, h5, h6 {font-family: 'Poppins', sans-serif;}
p {line-height: 26px;font-family: 'Open Sans', sans-serif;}
.container {
  max-width: 1670px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.orange-button {
  max-width: 180px;
  min-height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  display: block;
  color: #ffffff;
  text-decoration: none;
  border-radius: 45px;
  background: #F15B4E;
  text-align: center;
  text-transform: uppercase;
  filter: drop-shadow(0px 3px 20px rgba(241, 91, 78, 0.47));
}
.orange-button:hover, .orange-button:focus {background-color: #0A012C;filter: drop-shadow(0px 3px 20px rgba(10, 1, 44, 0.47));}
header.App-header {
  background: transparent;
  min-height: unset;
  width: 100%;
  display: block;
}
div#custom-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 2;
}
div#custom-header .super-header {
  padding: 25px 0 48px;
}
div#custom-header .super-header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
div#custom-header .super-header .container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1;
}
div#custom-header .super-header .container .contact-info li:not(:last-child) {
  margin-right: 50px;
}
div#custom-header .super-header .container .contact-info li.phone-info,
div#custom-header .super-header .container .contact-info li.mail-info {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #27001C;
}
div#custom-header .super-header .container .contact-info li.phone-info img,
div#custom-header .super-header .container .contact-info li.mail-info img {
  margin: 3px 15px -3px 0;
}
div#custom-header .super-header .container .contact-info li a {color: #ffffff;text-decoration: none;}
div#custom-header .super-header .container .contact-info li a:hover, div#custom-header .super-header .container .contact-info li a:focus {color:#F15B4E;}
div#custom-header .super-header .container .contact-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
div#custom-header .super-header .container ul.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100px;
  width: 100%;
}
#custom-header #header-holder .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#custom-header #header-holder .container #logo-holder {
  max-width: 300px;
  width: 100%;
}
#custom-header #header-holder .container #menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  text-transform: uppercase;
}
#custom-header #header-holder .container #menu-header .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
#custom-header #header-holder .container #menu-header .menu .menu-item {
  font-size: 16px;
  position: relative;
  z-index: 0;
  font-family: 'Poppins', sans-serif;
}
#custom-header #header-holder .container #menu-header .menu .menu-item a:hover, #custom-header #header-holder .container #menu-header .menu .menu-item a:focus, #custom-header #header-holder .container #menu-header .menu .menu-item a.active {color: #f15b4e;}
#custom-header #header-holder .container #menu-header .menu .menu-item .sub-menu {
  padding: 0px;
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
  min-width: 160px;
  background: #ffffff;
  position: absolute;
  top: 100%;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}
#custom-header #header-holder .container #menu-header .menu .menu-item:hover > .sub-menu {visibility: visible;opacity: 1;}
#custom-header #header-holder .container #menu-header .menu .menu-item .sub-menu .menu-item a {
  color: #f15b4e;
  display: block;
  text-align: left;
  padding: 10px;
}
#custom-header #header-holder .container #menu-header .menu .menu-item .sub-menu .menu-item:not(:last-child) a {
  border-bottom: 1px solid #f9f9f9;
}
#custom-header #header-holder .container #menu-header .menu .menu-item .sub-menu .menu-item a:hover,
#custom-header #header-holder .container #menu-header .menu .menu-item .sub-menu .menu-item a:focus,
#custom-header #header-holder .container #menu-header .menu .menu-item .sub-menu .menu-item a.active {
  background: #f15b4e;
  color: #ffffff;
}
#custom-header #header-holder .container #menu-header .orange-button {
  margin-left: 80px;
}
.hero-banner-section {
  position: relative;
  width: 100%;
  z-index: 0;
}
.hero-banner-section img.hero-img {
  width: 100%;
}
.hero-banner-section:before {
  content: '';
  width: 20px;
  height: 35px;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  background: url(../public/img/cursor.svg) no-repeat center center;
  background-size: 100%;
  z-index: 2;
}
.hero-banner-section:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#390529 0%, rgba(49, 4, 42, 0.7) 27.2%, rgba(17, 2, 44, 0.6) 72.8%, #0a012c 100%);
  z-index: 1;
}
.hero-banner-section .container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
  transform: translateY(-50%);
    /* W3C */
    -webkit-transform: translateY(-50%);
    /* Safari & Chrome */
    -moz-transform: translateY(-50%);
    /* Firefox */
    -ms-transform: translateY(-50%);
    /* Internet Explorer */
    -o-transform: translateY(-50%);
    /* Opera */
}
.hero-banner-section .hero-caption {
  max-width: 480px;
  width: 100%;
  color: #ffffff;
  text-align: left;
}
.hero-banner-section .hero-caption h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 82px;
  margin-bottom: 100px;
}
.hero-banner-section .hero-caption,
.hero-banner-section .hero-caption p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.hero-banner-section .hero-caption p {margin-bottom: 100px;}
.quick-info-section {background: rgb(251, 251, 251);
  background: linear-gradient(90deg, rgba(251, 251, 251, 1) 0%, rgba(255, 255, 255, 1) 100%);}
.quick-info-section .container {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
}
.quick-info-section .container .heading-text {max-width: 340px;width: 100%;}
.quick-info-section .container .heading-text h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  line-height: 40px;
  text-align: left;
}
.quick-info-section .container .heading-text h2 strong {
  font-weight: 600;
  color: #F15B4E;
}
.quick-info-section .container .quick-box {
  display: flex;
  /* flex-wrap: wrap; 
  align-items: center;*/
  justify-content: space-between;
  width: 100%;
}
.quick-info-section .container .quick-box .quick-col {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  background: #ffffff;
  padding: 40px 0;
  max-width: 25%;
  width: 100%;
}
.quick-info-section .container .quick-box .quick-col:not(:last-child) {
  border-right: 1px solid #FBFBFB;
}
.quick-info-section .container .quick-box .quick-col:hover {box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);position: relative;
  z-index: 1;}
.quick-info-section .container .quick-box .quick-col .quick-icon {
  margin-right: 32px;
}
.quick-info-section .container .quick-box .quick-col .quick-icon,
.quick-info-section .container .quick-box .quick-col .quick-icon img {
  max-width: 85px;
  width: 100%;
}
.quick-info-section .container .quick-box .quick-col .quick-content {
  text-align: left;
  color: #F15B4E;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  max-width: 115px;
  width: 100%;
}
.quick-info-section .container .quick-box .quick-col .quick-content h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}
.quick-info-section .container .quick-box .quick-col .quick-content p {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.p-150-0 {
  padding: 150px 0 0;
}
.about-us-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-us-section .container>div {
  width: 50%;
  position: relative;
  line-height: 0;
}
.about-us-section .container .about-img img {
  width: 100%;
}
.about-us-section .container .about-img .img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 50px 0;
  width: 100%;
  min-height: 70px;
  border-radius: 0px 0px 40px 40px;
  background: rgba(0, 75, 110, 0.65);
  box-shadow: 0px 3px 20px rgb(0 0 0 / 11%);
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-us-section .container .about-img .img-overlay:hover {
  min-height: 80px;
  background: rgb(0 75 110 / 80%);
}
.about-us-section .container .about-img .img-overlay img {
  width: auto;
}
.about-us-section .container .about-img .img-overlay a img {
    max-width: 30px;
}
.about-us-section .container .about-img .img-overlay a {
  font-size: 24px;
  line-height: 18px;
  text-align: left;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 170px;
  width: 100%;
}
.about-us-section .container .about-img .img-overlay a:hover img {margin: 0 10px 0 -10px;}
.about-us-section .container .about-content {
  text-align: left;
  padding: 70px 0 70px 110px;
  background: url(../public/img/wisdom-icon-grey.svg) no-repeat center center;
  background-size: contain;
}
.about-us-section .container .about-content h2 {
  font-size: 48px;
  text-transform: uppercase;
  max-width: 165px;
  line-height: 48px;
  margin: 0 auto 60px 0;
}
.about-us-section .container .about-content p {
  font-size: 16px;
  margin-bottom: 50px;
}
.section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 130px;
}
.section-head h2 {
  font-size: 48px;
  text-transform: uppercase;
  max-width: 165px;
  line-height: 48px;
  margin: 0 auto 0px 0;
}
.event-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.event-row .event-col {
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 3px 20px rgb(0 0 0 / 14%);
}
.event-row .event-col .event-image {
  overflow: hidden;
  line-height: 0;
  border-radius: 20px;
  border: 3px solid #ffffff;
}
.event-row .event-col .event-image .event-img {
  width: 100%;
  transition: all .3s;
  transition-timing-function: linear;
}
.event-row .event-col:hover .event-image .event-img {
  transform: scale(1.13) rotate(-5deg);
  filter: grayscale(1);
}
.event-row .event-col .event-description {
  padding: 50px 30px;
  text-align: left;
  color: #282828;
}
.event-row .event-col .event-description h3 {
  margin: 0 auto 30px;
  font-size: 29px;
  font-weight: 500;
}
.event-row .event-col .event-description .e-date {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #BFBFBF;
  margin: 0 auto 30px;
  display: block;
}
.event-row .event-col .event-description .e-date:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 16px;
  background: url(../public/img/date.svg) no-repeat center center;
  background-size: 100%;
  margin: 0px 10px -2px 0;
}
.event-row .event-col .event-description p {
  font-size: 16px;
  margin: 0 auto 30px;
}
.event-row .event-col .event-description .view-btn {
  font-size: 16px;
  font-weight: 500;
  color: #F15B4E;
  text-decoration: none;
}
.event-row .event-col .event-description .view-btn:before {
  content: '';
    display: inline-block;
    width: 18px;
    height: 16px;
    background: url(../public/img/eye.svg) no-repeat center center;
    background-size: 100%;
    margin: 0px 10px -2px 0;
}
.event-row .event-col .event-description .view-btn:hover,
.event-row .event-col .event-description .view-btn:focus {
  filter: grayscale(1);
}